@import "variables.less";
@import "structure.less";
@import "theme-dark.less";

@import 'form.less';
@import 'editors.less';

body {
  margin: 0;
  padding: 0;
  background-color: @body-background;
  box-sizing: border-box;
  font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  color: @text-color;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  * {
    box-sizing: inherit;
  }
}
// commons
.text-center {
  text-align: center;
}

.sidebar {
  border-right: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  background-color: @sidebar-background;
  width: @sidebar-width;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;

  }
  li {
    font-size: 0.9em;
    line-height: 2em;
    padding: 0 5px;

    &.active {
      background-color: #31363F
    }
    .title {
      white-space: pre;
      display: block;
    }
  }
}



.footer {
  height: @footer-height;
  background-color: @sidebar-background;
  font-size: 11px;
  line-height: 2.72em;
  padding: 0 0.72em;
  color: @footer-text-color;

  a {
    font-size: 1em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
